@keyframes flash {
    0%   {opacity: 0}
    50%  {opacity: 1}
    100% {opacity: 0}
}

@keyframes ep {
    0%   {color: #B4B5B2}
    50%  {color: gold}
    100% {color: #B4B5B2}
}


* {
    margin: 0;
    font-family: 'VT323', monospace;
    font-size: 28px;
    color: black;
}

#dontBeADickWrap {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #545653;
}

#dontBeADick {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: black;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
    padding-top: 4px;
}

#dontBeADick p {
    font-family: 'menlo', monospace;
    font-size: 12px;
    color: green;
    animation: flash 0.5s infinite;
}

.gradientBoi {
    height: 100vh;
    width: 100vw;
    opacity: 0;
    position: fixed;
    pointer-events: none;
    z-index: -10;
    transition: opacity 6s;
    background: linear-gradient(to bottom right, deeppink, yellow);
}

.palmTreesBoi {
    height: 100vh;
    width: 100vw;
    opacity: 0;
    position: fixed;
    pointer-events: none;
    z-index: -9;
    transition: opacity 6s;
    background-image: url("palmTrees.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.activate {
    opacity: 1;
}

#seriously {
    display: none;
}

html {
    cursor: pointer;
}

body {
    overflow: hidden;
    background-color: #545653;
    /* transition: all 6s; */
    /* height: 100vh; */
}

a {
    text-decoration: none;
}

a:hover {
    cursor: grab;
    cursor: -webkit-grab;
}



/* NAV 8============================================D ~~~ */

.corpseWrapper {
    position: absolute;
    top: 40px;
    left: 400px;
}

.corpse {
    width: 90px;
    height: 114px;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

.nav {
    position: absolute;
    z-index: -1;
    top: 40px;
    left: 50px;
    height: 250px;
    padding: 20px;
    /* filter: blur(0.5px); */
    border-top: 5px solid #B4B5B2;
    border-left: 5px solid #838581;
    border-right: 5px solid #2B2E2C;
    border-bottom: 5px solid #252624;
    /* background-color: rgb(255, 147, 199); */
}


.title {
    background-color: #D7D245;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
    margin-bottom: 20px;
    transition: all 6s;
    height: 57px;
}

.linkWrapper {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.linkWrapper:hover .dot {
    background-color: green;
}

.linkWrapper:hover .smallerDot {
    background-color: lightgreen;
    border-top: 3px solid #B4B5B2;
    border-left: 3px solid #838581;
    border-right: 3px solid #2B2E2C;
    border-bottom: 3px solid #252624;
}

.dot {
    display: inline-block;
    background-color: #545653;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
    border-radius: 20px;
    transform: rotate(-25deg);
    /* filter: blur(0.5px); */
}

.smallerDot {
    position: relative;
    width: 10px;
    height: 10px;
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 20px;
    background-color: grey;
    border-top: 3px solid #B4B5B2;
    border-left: 3px solid #838581;
    border-right: 3px solid #2B2E2C;
    border-bottom: 3px solid #252624;
}

.dotHighlighted {
    background-color: green;
}

.smallerDotHighlighted {
    background-color: lightgreen;
}

#email {
    font-size: 24px;
}

/* TERMINAL 8============================================D ~~~ */

#terminalWrap {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 40px;
    left: 40px;
    background-color: #000;
    width: 510px;
    height: 350px;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
    padding: 4px;
}

#terminal {
    height: 350px;
    width: 510px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    transition: all 6s;
}

#terminal p {
    color: green;
    text-shadow: 0 0 2px rgb(0, 179, 7);
    /* filter: blur(0.4px); */
    font-size: 12px;
    margin-left: 6px;
    font-family: "menlo", monospace;
}

/* OUTFITS 8============================================D ~~~ */

.outfits {
    position: absolute;
    /* background-color: hotpink; */
    right: 60px;
    bottom: 60px;
    /* filter: blur(0.5px); */
}

.outfitsImageWrap {
    overflow: hidden;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-left: 20px;
    margin-bottom: 30px;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

.outfitsImageWrap:first-of-type {
    background-size: cover;
}

.outfitsImageWrap:nth-of-type(2) {
    background-size: cover;
}

.outfitImage {
  min-width: 100%;
  height: 100%;
}

.controls {
    padding: 5px;
    border-top: 5px solid #B4B5B2;
    border-left: 5px solid #838581;
    border-right: 5px solid #2B2E2C;
    border-bottom: 5px solid #252624;
}

.controlsRow {
    display: flex;
    justify-content: space-around;
}

.controlsOption {
    display: flex;
    justify-content: flex-start;
    width: 85px;
    margin: 5px;
    padding-left: 3px;
    border-top: 3px solid #B4B5B2;
    border-left: 3px solid #838581;
    border-right: 3px solid #2B2E2C;
    border-bottom: 3px solid #252624;
    border-radius: 5px;
}

.controlsOption a {
    width: 100%;
}

.on {
    background-color: #6B93DC;
    border-bottom: 3px solid #79A2E5;
    border-right: 3px solid #798EBD;
    border-left: 3px solid #122D4E;
    border-top: 3px solid #122D4E;
}



/* WORKS 8============================================D ~~~ */

.works {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 500px;
    height: 600px;
    margin-top: 100px;
    margin-right: 150px;
    padding: 0 20px 0 10px;
    background-color: #545653;
    border-top: 5px solid #B4B5B2;
    border-left: 5px solid #838581;
    border-right: 5px solid #2B2E2C;
    border-bottom: 5px solid #252624;
    /* filter: blur(0.5px); */
    box-shadow: 8px 8px 50px black;
}

.scrollable {
    overflow: scroll;
    width: 100%;
    height: 440px;
    background-color: black;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

.scrollable a {
    color: green;
    margin-left: 10px;
}

.scrollable::-webkit-scrollbar {
    display: none;
}

.open {
    background-color: #D7D245;
}

.open a {
    color: black;
}

.highlighted {
    background-color: green;
}

.highlighted a {
    color: black;
}

.escWorksWrapper {
    width: 510px;
    height: 57px;
    /* background-color: deeppink; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.esc {
    text-decoration: none;
    font-style: normal;
    width: 40px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 5px;
    background-color: #545653;
    border-top: 3px solid #B4B5B2;
    border-left: 3px solid #838581;
    border-right: 3px solid #2B2E2C;
    border-bottom: 3px solid #252624;
    border-radius: 3px;
}

.escDown {
    border-bottom: 3px solid #B4B5B2;
    border-right: 3px solid #838581;
    border-left: 3px solid #2B2E2C;
    border-top: 3px solid #252624;
}

.esc a {
    height: 30px;
    width: 40px;
}

/* EP WORKS 8============================================D ~~~ */

.epWorks {
    position: absolute;
    z-index: 1;
    right: 0;
    width: 620px;
    height: 260px;
    margin-top: 100px;
    margin-right: 150px;
    padding: 0 20px 0 10px;
    background-color: #545653;
    border-top: 5px solid #B4B5B2;
    border-left: 5px solid #838581;
    border-right: 5px solid #2B2E2C;
    border-bottom: 5px solid #252624;
    /* filter: blur(0.5px); */
    box-shadow: 8px 8px 50px black;
}

.epScrollable {
    overflow: scroll;
    width: 100%;
    height: 132px;
    background-color: black;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

.epScrollable a {
    color: green;
    margin-left: 10px;
}

.epScrollable::-webkit-scrollbar {
    display: none;
}

.open {
    background-color: #D7D245;
}

.open a {
    color: black;
}

.highlighted {
    background-color: green;
}

.highlighted a {
    color: black;
}

.escWorksWrapper {
    width: 510px;
    height: 57px;
    /* background-color: deeppink; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.esc {
    text-decoration: none;
    font-style: normal;
    width: 40px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 5px;
    background-color: #545653;
    border-top: 3px solid #B4B5B2;
    border-left: 3px solid #838581;
    border-right: 3px solid #2B2E2C;
    border-bottom: 3px solid #252624;
    border-radius: 3px;
}

.escDown {
    border-bottom: 3px solid #B4B5B2;
    border-right: 3px solid #838581;
    border-left: 3px solid #2B2E2C;
    border-top: 3px solid #252624;
}

.esc a {
    height: 30px;
    width: 40px;
}

/* VARIOUS WORKS 8============================================D ~~~ */

.window {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #545653;
    padding: 10px;
    border-top: 5px solid #B4B5B2;
    border-left: 5px solid #838581;
    border-right: 5px solid #2B2E2C;
    border-bottom: 5px solid #252624;
    box-shadow: 8px 8px 50px black;
}

.smallXWrapper {
    position: absolute;
    align-self: flex-start;
    height: 28px;
    width: 99.9%;
    pointer-events: all;
}

.smallX {
    position: absolute;
    z-index: 1;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    margin-top: 3px;
    padding: 0 5px;
    left: 5px;
    background-color: #81827E;
    border-top: 2px solid #B4B5B2;
    border-left: 2px solid #838581;
    border-right: 2px solid #2B2E2C;
    border-bottom: 2px solid #252624;
    border-radius: 2px;
    pointer-events: all;
}

.smallTitle {
    position: absolute;
    font-size: 18px;
    margin-top: 3px;
    padding: 0 5px;
    right: 5px;
    background-color: #D7D245;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}


/* BRUCE 8============================================D ~~~ */

.bruce {
    width: 610px;
    height: 550px;
}

.bruceScrollWrap {
    height: 400px;
    /* width: 600px; */
    overflow: hidden;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

.bruceImageWrapper {
    position: relative;
    display: flex;
    width: 1816px;
    overflow: hidden;
    /* transition: all 2s; */
}

.toiletWrapper {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 608px;
    background-color: black;
}

.toiletWrapper img {
    margin: 0px 30px;
}

.bruceImage {
    height: 400px;
}

.bruceControlWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
}

#previous {
    transform: rotate(180deg);
}

/* THAT KILLED ME 8============================================D ~~~ */

.thatKilledMe {
    width: 610px;
    height: 550px;
}

.thatKilledMeScrollWrap {
    height: 400px;
    width: 600px;
    overflow: hidden;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

.thatKilledMeImageWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 3985px;
    overflow: hidden;
    background-color: black;
}

.thatKilledMeImageWrap {
    width: 604px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.thatKilledMeImagePano {
    height: 400px;
}

.thatKilledMeImage {
    max-height: 100%;
    max-width: 100%;
}

.thatKilledMeControlWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
}

#previous {
    transform: rotate(180deg);
}

.thatKilledMeCarmWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    background-color: #545653;
    border-top: 5px solid #B4B5B2;
    border-left: 5px solid #838581;
    border-right: 5px solid #2B2E2C;
    border-bottom: 5px solid #252624;
    box-shadow: 8px 8px 50px black;
    height: 426px;
    padding: 10px 10px;
    top: -89px;
    left: 635px;
}

.thatKilledMeVid {
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

.slideShowWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    background-color: #545653;
    border-top: 5px solid #B4B5B2;
    border-left: 5px solid #838581;
    border-right: 5px solid #2B2E2C;
    border-bottom: 5px solid #252624;
    box-shadow: 8px 8px 50px black;
    height: 238px;
    padding: 10px 10px;
    top: 367px;
    left: 635px;
}

.slideShow {
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

/* LIFT 8============================================D ~~~ */

.lift {
    width: 630px;
    /* height: 900px; */
}

.liftImageWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.liftImage {
    width: 300px;
    height: 450px;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}



/* CARMONICA 8============================================D ~~~ */

.carmonica {
    height: 496px;
}

.carmVid {
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}



/* FONT 8============================================D ~~~ */

.fontImage {
    width: 600px;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}



/* PARALLELS 8============================================D ~~~ */

.parallels {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: flex-end; */
    position: absolute;
    background-color: #545653;
    border-top: 5px solid #B4B5B2;
    border-left: 5px solid #838581;
    border-right: 5px solid #2B2E2C;
    border-bottom: 5px solid #252624;
    box-shadow: 8px 8px 50px black;
    /* width: 1180px; */
    height: 440px;
    padding: 10px 10px;
    top: 10vh;
    left: 15vw;
}

.escWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.windowEsc {
    text-decoration: none;
    font-style: normal;
    width: 40px;
    margin-top: 3px;
    margin-bottom: 15px;
    padding: 0 5px;
    background-color: #545653;
    border-top: 3px solid #B4B5B2;
    border-left: 3px solid #838581;
    border-right: 3px solid #2B2E2C;
    border-bottom: 3px solid #252624;
    border-radius: 3px;
}

.windowTitle {
    position: absolute;
    font-size: 24px;
    margin-top: 3px;
    padding: 0 5px;
    right: 15px;
    background-color: #D7D245;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

.paraVids {
    display: flex;
}

.paraVidWrap {
    height: 312px;
    /* margin-top: 45px; */
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

.videoControls {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    width: 100%;
    margin-top: 20px;
}

.buttons {
    display: flex;
}

.videoControlsOption {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    margin: 5px;
    background-color: #7E8080;
    border-top: 3px solid #B4B5B2;
    border-left: 3px solid #B4B5B2;
    border-right: 3px solid #2B2E2C;
    border-bottom: 3px solid #252624;
    border-radius: 5px;
}

.rrIcon {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid #455963;
    border-bottom: 10px solid transparent;
}

.rring {
    border-right: 10px solid #86A866;
}

.playIcon {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #455963;
    border-bottom: 10px solid transparent;
}

.playing {
    border-left: 20px solid #86A866;
}

.pauseIcon {
    display: inline-block;
    width: 6px;
    height: 17px;
    background-color: #455963;
}

.pauseIcon:first-of-type {
    margin-right: 5px;
}

.stopIcon {
    width: 17px;
    height: 17px;
    background-color: #455963;
}

.pausedStopped {
    background-color: #86A866;
}

.ffIcon {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 10px solid #455963;
    border-bottom: 10px solid transparent;
}

.ffing {
    border-left: 10px solid #86A866;
}

.videoControlSelected {
    background-color: #4C514D;
    border-bottom: 3px solid #B4B5B2;
    border-right: 3px solid #838581;
    border-left: 3px solid #2B2E2C;
    border-top: 3px solid #252624;
}

.timeWrap {
    display: flex;
    justify-content: flex-end;
    width: 90px;
    height: 30px;
    margin-left: 8px;
    background-color: black;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

.time {
    color: green;
    margin-right: 5px;
}



/* EDITED FILMS 8============================================D ~~~ */

.editedFilms {
    height: 580px;
    width: 700px;
}

.editedVidWindow {
    background-color: #000;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 690px;
}

.editedVidWindow video {
    max-width: 95%;
    max-height: 95%;
}

.filmNoWrap {
    display: flex;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
    margin-left: 8px;
    background-color: black;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

.ediScreenWrap {
    display: flex;
    justify-content: flex-end;
}

.ediBut {
    width: 65px;
}

.ediButUp {
    color: #455963;
}

.ediButDown {
    color: #86A866;
}

/* PILLOWS 8============================================D ~~~ */

.pillowsImage {
    width: 650px;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

/* EP 8============================================D ~~~ */

.EPImage {
    width: 450px;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

/* PINK 8============================================D ~~~ */

.pink {
    height: 600px;
    top: 15vh;
    left: 35vw;
}

.pinkVid {
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

/* TWELVE 8============================================D ~~~ */

.twelve {
    height: 600px;
}

.twelveVid {
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

/* RAITRE 8============================================D ~~~ */

.raitre {
    height: 600px;
}

.raitreVid {
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

/* BREAK 8============================================D ~~~ */

.breakWork {
    height: 550px;
    width: 870px;
}

.breakVid {
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

/* RHYTHM2 8============================================D ~~~ */

.rhythm2 {
    height: 610px;
    width: 846px;
}

.rhythm2Vid {
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

/* NOT STATIC 8============================================D ~~~ */

.notStatic {
    width: 700px;
    height: 728px;
}

.notStaticScrollWrap {
    height: 600px;
    overflow: hidden;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

.notStaticImageWrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    width: 2760px;
}

.notStaticImageWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 589px;
    width: 690px;
    background-color: black;
}

.notStaticImage {
    max-height: 589px;
    max-width: 690px;
}

.notStaticControlWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
}

#previous {
    transform: rotate(180deg);
}

.notStaticTextWrap {
    height: 564px;
    width: 400px;
    left: 726px;
    bottom: 124px;
    overflow: hidden;
    position: absolute;
    background-color: #545653;
    border-top: 3px solid #B4B5B2;
    border-left: 3px solid #838581;
    border-right: 3px solid #2B2E2C;
    border-bottom: 3px solid #252624;
    padding: 10px;
}

#notStaticText {
    height: 500px;
    background-color: black;
    border-bottom: 3px solid #B4B5B2;
    border-right: 3px solid #838581;
    border-left: 3px solid #2B2E2C;
    border-top: 3px solid #252624;
    overflow: hidden;
    text-align: center;
}

#notStaticText div {
    position: relative;
}

#notStaticText p {
    color: green;
    text-shadow: 0 0 2px rgb(0, 179, 7);
    /* filter: blur(0.4px); */
    font-family: 'menlo', monospace;
    font-size: 12px;
    margin-bottom: 4px;
}

#notStaticTextControlWrap {
    display: flex;
    margin-top: 7px;
}

#notStaticTextControlWrap div:first-child div {
    transform: rotate(-90deg);
}

#notStaticTextControlWrap div:last-child div {
    transform: rotate(90deg);
}

.notStaticTextButton {
    margin-right: 30px;
}


/* POOL TABLE 8============================================D ~~~ */

.poolTable {
    width: 700px;
    height: 599px;
}

.poolTableScrollWrap {
    height: 459px;
    overflow: hidden;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

.poolTableImageWrapper {
    overflow: hidden;
    position: relative;
    display: flex;
    width: 2760px;
}

.poolTableImageWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 460px;
    width: 690px;
    background-color: black;
}

.poolTableImage {
    max-height: 460px;
    max-width: 690px;
}

.poolTableControlWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;
}

#previous {
    transform: rotate(180deg);
}

.poolTableVids {
    display: flex;
}

.poolTableVidWrap {
    height: 240px;
    border-bottom: 5px solid #B4B5B2;
    border-right: 5px solid #838581;
    border-left: 5px solid #2B2E2C;
    border-top: 5px solid #252624;
}

.poolTableVidWindow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    background-color: #545653;
    border-top: 5px solid #B4B5B2;
    border-left: 5px solid #838581;
    border-right: 5px solid #2B2E2C;
    border-bottom: 5px solid #252624;
    box-shadow: 8px 8px 50px black;
    height: 309px;
    padding: 10px 10px;
    top: 62px;
    left: 725px;
}

/* EP MODE 8============================================D ~~~ */

.ep {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    border-radius: 5px;
    left: 400px;
    top: 170px;
    border-top: 3px solid #B4B5B2;
    border-left: 3px solid #838581;
    border-right: 3px solid #2B2E2C;
    border-bottom: 3px solid #252624;
}

#epText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 44px;
}

.epModeOn {
    background-color: #464944;
    border-bottom: 3px solid #B4B5B2;
    border-right: 3px solid #838581;
    border-left: 3px solid #2B2E2C;
    border-top: 3px solid #252624;
}

.epGreen {
    background-color: blue;
    color: rgb(27, 241, 255);
}

.epYellow {
    background-color: violet;
}

.epBody {
    background-color: none;
    /* animation: epGradient 6s linear; */
    /* background-image: repeating-radial-gradient(deeppink, deeppink 1px, gold 1px, gold 2px); */
}


@media screen and (max-height: 870px), screen and (max-width: 990px) {

    .corpseWrapper {
        transform: scale(0.9);
        top: 30px;
        left: 330px;
        /* right: 60px; */
    }

    .ep {
        transform: scale(0.9);
        top: 150px;
        left: 330px;
    }

    .nav {
        transform: scale(0.8);
        top: 5px;
        left: 20px;
    }

    #terminalWrap {
        transform: scale(0.8);
        left: -20px;
        bottom: -10px;
    }

    .outfits {
        transform: scale(0.8);
        right: 10px;
        bottom: 10px;
    }

    .works {
        transform: scale(0.8);
    }

    .window {
        transform: scale(0.8);
    }

    .parallels {
        transform: scale(0.8);
    }

}

@media screen and (max-height: 610px), screen and (max-width: 800px) {

    #dontBeADickWrap {
        display: flex;
    }

    main {
        display: none;
    }

}

@media screen and (max-height: 315px) {

    #dontBeADickWrap {
        display: flex;
    }

    #dontBeADick {
        height: 100px;
    }

    #finger {
        display: none;
    }

    #resizeYourScreen {
        display: none;
    }

    #seriously {
        display: block;
    }

    main {
        display: none;
    }

}
